<div class='about'>
    <h1> About me </h1>
    Hi! I'm a postdoc in the <a href="https://condon.lab.arizona.edu/">Condon Research Lab</a>
    in the Hydrology and Atmospheric Sciences Department at the University of Arizona. Previously
    I received my PhD in Civil and Environmental engineering at the University of Washington and
    worked at Oak Ridge National Laboratory in the Computer Science and Math department.
    My research focuses on merging machine learning with process-based hydrologic models.
</div>
