<div class='about'>
    <h1> About me </h1>
    Hi! I'm an assistant professor in the Hydrology and Atmospheric Sciences Department at the 
    University of Arizona. Previously I received my PhD in Civil and Environmental engineering 
    at the University of Washington and worked at Oak Ridge National Laboratory in the Computer 
    Science and Math department.  My research focuses on using large datasets, physics-based modeling, 
    and deep learning  to understand how the water cycle is changing in a warming world.

    This webpage is largely a legacy and all new content will be posted on my UA page <a href="https://bennetthydrolab.github.io">here</a>.
</div>
